img {
    margin-top: 2rem;
    max-width: 250px;
    width: 100%;
    height: auto;
    border-radius: 2rem;
    padding: 1rem;
    transition: 0.1s ease-in;
}

.employee-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    text-align: center;

    transition: 2sec ease-in;
}

.employee-area img:hover {
    transform: scale(1.1);
}




@media (max-width: 800px) {
    .employee-area {
        flex-direction: column;
        align-items: center;
    }

    img {
        max-width: 300px;
        width: 300px;
    }
}